<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <h1>New Ninja</h1>
        <a href="/dojos">Home</a>
        <form action="/create_ninja" method="POST">
            <label for="dojos_id">Dojo</label>
            <select name="dojos_id">
                {% for dojo in dojos %} 
                <option value="{{dojo.id}}">{{dojo.name}}</option>
                {% endfor %}
            </select>

            <label for="first_name">First Name:</label>
            <input type="text" name="first_name">

            <label for="last_name">Last Name:</label>
            <input type="text" name="last_name">

            <label for="age">Age:</label>
            <input type="text" name="age">

            <input type="submit" value="Create Ninja">
        </form>
    </div>
</body>
</html>